/*OVERALL BODY*/
html,body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
}

/*ANIMATED BACKGROUND*/
body {
    /* display: flex; */
    align-items: center;
    background:black;
} 
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

/*Instruction Panel*/
.toggle_menu {
    position: fixed;
    padding: 15px 20px 15px 15px;
    margin-top: 20px;
    color: ghostwhite;
    cursor: pointer;
    background-color: black;
    z-index: 1000000;
    font-size: 1em;
}
.sidebar_menu {
    z-index: 1;
    position: fixed;
    width: 350px;
    margin-left: 0px;
    overflow: hidden;
    height: 100vh;
    max-height:  100vh;
    /* background-image: url("../images/46340074-image-of-chemical-technology-abstract-background-science-wallpaper-with-school-chemistry-formulas-an.jpg"); */
    background-color:rgba(54, 4, 88, 0.644);
    transition: all 0.3s ease-in-out;
}
.fa-3x {
    font-size: 1em;
}
section {
    text-align: center;
}
p {
    text-align: center;
    color: ghostwhite;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.card-text-instruction {
    color: ghostwhite;
}
.button_image {
    text-align: center;
}
.fa-times {
    right: 10px;
    top: 10px;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    color: ghostwhite;
    transition: all 0.3s ease-in-out;
}
.fa-times:hover {
    opacity: 1;
}
.boxed_item {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    padding: 10px 20px;
    display: inline-block;
    border: solid 2px ghostwhite;
    box-sizing: border-box;
    color: ghostwhite;
    margin-top: 100px;
    text-align: center;
}
.hide_menu{
    margin-left: -350px;
}
.opacity_one{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
#panel_img {
    width: 100px;
    height: 100px;
    margin-top: 300px;
}

/*Flip Card Instruction's*/
.flip_card{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
    color: ghostwhite;
    
}
.flip_card_front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: 0.5s;
}
.flip_card:hover .flip_card_front{
    transform: rotateY(-180deg);
}
.flip_card_back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
}
.flip_card:hover .flip_card_back{
    transform: rotateY(0deg);
}
.flip_card_details{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;   
}

/*JUMBOTRON*/
h1{
    color: ghostwhite;
    text-align: center;
}
.nameBox input{
   margin-left: 250px;
   margin-top: 20px;
   width: 50%;
}
.nameBox input[type="text"]{
    border: none;
    border-bottom: 1px solid chartreuse;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ff0000;
    font-size: 16px;
}
#buttonLocation{
    margin-left: 485px;
   margin-top: 20px;
}

/*GAME CONTENT*/
.card-deck{
    margin: auto;
}
.card{
    background: transparent;
    justify-content: center;
}
.card-img-top{
    border: solid 1px orange;
}
.card-title{
    color: ghostwhite;
    text-align: center;
}
.card-text{
    color: ghostwhite;
}
.player_1_stats{
    border:solid 2px red;
    box-sizing: border-box;
    width: 220px;
    margin: auto;
    text-align: center;
    color: ghostwhite;
    font-size: 24px;
}
.player_2_stats{
    border:solid 2px blue;
    box-sizing: border-box;
    width: 220px;
    margin:auto;
    text-align: center;
    color: ghostwhite;
    font-size: 24px;
}
.player_1_stat_counter{
    border:solid 2px red;
    box-sizing: border-box;
    width: 220px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: ghostwhite;
    font-size: 24px;
}
.player_2_stat_counter{
    border:solid 2px blue;
    box-sizing: border-box;
    width: 220px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: ghostwhite;
    font-size: 24px;
}
.btn-group{
    margin-top: 20px;
    margin-left: 10px;
}
#result_outcome{
    width: 280px;
    height: 280px;
    margin: auto;
}
.result_box{
    width: 400px;
    height: 75px;
    border: solid 2px yellow;
}